@charset "UTF-8";
@import '../variables';
@import '../base/project/mixins';
/*-------------------------------------------------------*/
/* Table of Contents   */
/*-------------------------------------------------------*/
/*
1.  Media query for small mobile 320px
2.  Media query for large mobile 360px
3.  Media query for tablet default
4.  Media query for tablet landscape
*/

@media only screen 
  and (min-width: 320px)
  and (max-width: 1024px){

  /*-------------------------------------------------------*/
  /* Base styles   */
  /*-------------------------------------------------------*/
    @import 'globals';

  /*-------------------------------------------------------*/
  /* text styles   */
  /*-------------------------------------------------------*/
    @import 'text';

  /*-------------------------------------------------------*/
  /* masonry styles   */
  /*-------------------------------------------------------*/
    @import 'masonry';

  /*-------------------------------------------------------*/
  /* masonry styles   */
  /*-------------------------------------------------------*/
    @import 'shuffle';

  /*-------------------------------------------------------*/
  /* flexider styles   */
  /*-------------------------------------------------------*/
    @import 'flexider';

  /*-------------------------------------------------------*/
  /* button styles   */
  /*-------------------------------------------------------*/
    @import 'button';

  /*-------------------------------------------------------*/
  /* wrapper styles   */
  /*-------------------------------------------------------*/
    @import 'wrapper';

  /*-------------------------------------------------------*/
  /* header styles   */
  /*-------------------------------------------------------*/
    @import 'header';

  /*-------------------------------------------------------*/
  /* nav styles   */
  /*-------------------------------------------------------*/
    @import 'nav';

  /*-------------------------------------------------------*/
  /* footer styles   */
  /*-------------------------------------------------------*/
    @import 'footer';

}
@media only screen 
  and (min-width: 360px) 
  and (max-width: 787px){

  /*-------------------------------------------------------*/
  /* custom large mobile styles   */
  /*-------------------------------------------------------*/
   .stamp{
    height: $stamp-large-mobile;
  }

}
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {

  /*-------------------------------------------------------*/
  /* custom tablet styles   */
  /*-------------------------------------------------------*/
  	.masonry{
  		overflow-x:hidden;
  	}
  	.flex-direction-nav{
  		display: none;
  	}
  	.hl-jurnal--thumbnail--post h5{
  	    max-height: $thumbnail-mobile-max-height;
  	    overflow: hidden;
  	}
    .container{
    	width: auto;
    }  
    .hl-goto-top{
      right: 0;
    }  

}
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)
  and (orientation: landscape) {

  /*-------------------------------------------------------*/
  /* custom tablet landscape styles   */
  /*-------------------------------------------------------*/
  	.container{
      width: $container-tablet-landscape;
    }
}